*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#back{
    width: 100%;
    height: 100%;
    background-image: url('back.jpg');
    background-size: contain;
    background-position: center;
}
#overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(112, 112, 245, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#name{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#name h1{
    font-size: 153px;
    font-weight: 100;
}
#change{
    display: inline-block;
    font-size: 30px;
}


#social{
    margin-top: 15px;
    display: flex;
    width: 150px;
    justify-content: space-evenly;
    opacity: 0.7;
}












#second{
    width: 100%;
    height: 100%;
}
.part{
    width: 100%;
    height: 50%;
    display: flex;
    color: white;
}
#one{
    width: 50%;
    height: 100%;
    background-image: url('one.jpg');
    background-size: cover;
}
#two{
    width: 50%;
    height: 100%;
    background-image: url('two.jpg');
    background-size: cover;
    background-position: center;
}
#three{
    width: 50%;
    height: 100%;
    background-image: url('three.png');
    background-size: cover;
}
#four{
    width: 50%;
    height: 100%;
    background-image: url('four.jpg');
    background-size: cover;
}
.cover{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
#cover1{
    background-color: rgba(94, 94, 221, 0.39);
}
#cover2{
    background-color: rgba(228, 155, 155, 0.411);
}
#cover3{
    background-color: rgba(143, 143, 143, 0.425);
}
#cover4{
    background-color: rgba(196, 163, 120, 0.445);
}

#second span{
    color: white;
    margin-bottom: 20px;
}
.part h2{
    font-size: 60.8px;
    font-weight: 700;
}


.button{
    width: 85px;
    height: 35px;
    font-size: 11px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    color: white;
}












#third{
    width: 100%;
    height: 59.5%;
    display: flex;
}

#map{
    width: 50%;
    height: 100%;
    background-size: auto;
    background-position: top;
}

#feedback{
    width: 50%;
    height: 100%;
    background-color: rgb(38, 48, 51);
    display: flex;
    justify-content: center;
    align-items: center;
}
#message{
    width: 80%;
    height: 75%;
    text-align: center;
    color: rgb(173, 173, 173);
    font-size: 12px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#message p{
    width: 100%;
}
#contact1{
    display: flex;
}